.wrapper {
    text-align: justify;
}

.post-link {
    display: inline !important;
    font-size: 16px !important;
}

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 5px; }