<script src="{{ root }}/js/GALocalStorage.js"></script>
<script>
    (function() {
        console.log('self invoked');

        function analytics(url) {
            console.log('analytics > ' + url);
            ga_storage._setAccount('UA-37427094-3');
            ga_storage._trackPageview(url);
        }


        /*
            using GALocalStorage
            the url where you want to generate hits comes here
        */
        var url = "/en/2015/05/14/XOR-encryption-demo.html";
        /* register page in analytics */
        analytics(url);
    })();
</script>
